@import "src/styles/vars.scss";
.directoryTree {
  color: $text-color;
  font-family: $font;
  max-width: 100%;
  padding-left: 16px;

  summary {
    z-index: 2;
  }

  ul {
    list-style: none;

    li {
      position: relative;
      line-height: 4em;
      margin-left: -1em;

      &::after {
        position: absolute;
        left: -2em;  // Уменьшите значение отступа слева
        bottom: 0px;
        border-left: 1.5px solid $directory-lines-color;
        content: "";
        width: 0.5em;  // Уменьшите ширину линии
        height: 100%;
      }

      &::before {
        position: absolute;
        left: -2em;  // Уменьшите значение отступа слева
        top: -30px; // можно сделать переменной
        border-left: 1.5px solid $directory-lines-color;
        border-bottom: 1.5px solid $directory-lines-color;
        content: "";
        width: 1em;  // Уменьшите ширину линии
        height: calc(2em + 23px); // можно сделать переменной
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  summary {
    cursor: pointer;
    list-style: none;
    margin-left: -1.5em;
    position: relative;
  }

  ul.root-item > li::before {
    display: none;
  }

  ul.root-item > li::after {
    display: none;
  }

  ul.child > summary {
    position: absolute;
  }

  .child {
    display: flex;
    flex-direction: column;
  }
}
