$background-dark: #202124;
$background-light: #27272A;

$text-color:#FFFFFF;
$text-color-dark:#A1A1AA;

$lines-color: #8f8f8f;
$directory-lines-color:#C6C6C6;

$font: Roboto, sans-serif;

$gap-between-elements: 32px;