@import 'src/styles/vars.scss';
.node-container {
  flex-direction: row;
  height: 4em;
  margin-top: -4em;
  border-bottom: solid 1.5px rgba(65, 65, 68, 0.7);
  display: flex;
  position: absolute;
  width: calc(100% - 32px);
  z-index: 1;

}
details.editing > summary {
  pointer-events: none;
}

summary{
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-between;
  .summary-images-container{
    display: flex;
    background-color: $lines-color;
    align-items: center;
    width: 0;
    border-radius: 6px;
    &:hover{
    .trash-image-container{
      display: flex;
    }
      width: min-content;
  }
  }

  button{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
  }
}

input{
  height: 40%;
  width: 100%;
  padding-left: 12px;
  border: solid 1.5px $lines-color;
  background-color: $background-dark;
  color: $text-color;
  border-radius: 6px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.directory-image-container{
  display: flex;
  align-items: center;
}
.trash-image-container{
  display: none;
}


.node-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-right: 32px;
  justify-content: space-between;

  div{
    display: flex;
    align-items: center;
  }

}

.content-attribute-container{
  display: flex;
  width: 50vw;
  flex-direction: row;
  justify-content: space-between;
}
